---
layout: page
permalink: /journal/index.html
title: Cindy's Journal
---

{% asyncEach item in collections.allJournalPosts %}
  {% set headingLevel = "h2" %}
  {% set definedDate = item.data.date %}
  {% set showTags = true %}
  {% include "partials/card-blog.njk" %}
{% endeach %}
