---
pagination:
  data: collections.allPostsByAuthor
  size: 1
  alias: author
layout: page
permalink: /authors/{{author[0]}}/
---

{% set thisAuthor = author[0] %}
{% set thisAuthorsPosts = author[1] %}

<h2>{{ thisAuthor }}'s Posts</h2>

{% asyncEach item in thisAuthorsPosts %}
    {% set headingLevel = "h2" %}
    {% set definedDate = item.data.date %}
    {% set showTags = true %}
    {% include "partials/card-blog.njk" %}
{% endeach %}

