---
layout: page
permalink: /blog/index.html
title: Blog
---

{% asyncEach item in collections.allBlogPosts %}
  {% set headingLevel = "h2" %}
  {% set definedDate = item.data.date %}
  {% set showTags = true %}
  <custom-card clickable class="mt-s-m">
    <{{ headingLevel }} slot="headline" class="text-step-2">
      <a href="/{{ item.data.permalink }}">{{ item.data.title }}</a>
    </{{ headingLevel }}>
    <span slot="date"><time datetime="{{ definedDate | toIsoString }}"> {{ definedDate | formatDate('MMMM D, YYYY') }} </time></span>
    <div slot="type" webc:nokeep>
      <span class="button" data-small-button data-button-variant={{ "secondary" if item.data.type == "Blog" else ("tertiary" if item.data.type =="Diary" else "primary") }}>{{ item.data.type }}</span>
    </div>
    {% if showTags and item.data.tags.length > 1 %}
      <div slot="tag" webc:nokeep>
        {% for tag in item.data.tags %}
          {% if tag != "posts" %}
            <span class="button" data-small-button>{{ tag }}</span>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div slot="content" webc:nokeep>{{ item.data.description | markdownFormat | safe }}</div>
  </custom-card>
{% endeach %}
