---
layout: base
permalink: /index.html
title: 'Tarrant & Andrews Family Diary'
description: "A family blog covering the last few years of Cindy Tarrant's life, and the first few years without her."
---

<div class="wrapper">
  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>Posts</h2>
        {% asyncEach item in collections.allPosts %}
          {% set headingLevel = "h2" %}
          {% set definedDate = item.data.date %}
          {% set showTags = true %}
          <custom-card clickable class="mt-s-m">
            <{{ headingLevel }} slot="headline" class="text-step-2">
              <a href="{{ item.data.permalink }}">{{ item.data.title }}</a>
            </{{ headingLevel }}>
            <span slot="date"><time datetime="{{ definedDate | toIsoString }}"> {{ definedDate | formatDate('MMMM D, YYYY') }} </time></span>
            {% if showTags and item.data.tags.length > 1 %}
              <div slot="tag" webc:nokeep>
                {% for tag in item.data.tags %}
                  {% if tag != "posts" %}
                    <span class="button" data-small-button>{{ tag }}</span>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
            <div slot="content" webc:nokeep>{{ item.data.description | markdownFormat | safe }}</div>
          </custom-card>
        {% endeach %}
    </div>
  </section>
</div>
