---
pagination:
  data: collections.allPostsByYearMonth
  size: 1
  alias: year
layout: page
permalink: /{{year[0]}}/
---

{% set thisYear = year[0] %}
{% set thisYearsPosts = year[1] %}

<h2><a class="no-underline" href="/{{ thisYear | getYear }}">{{ thisYear | getYear }}</a>/{{ thisYear | getMonth }}</h2>

{% asyncEach item in thisYearsPosts %}
    {% set headingLevel = "h2" %}
    {% set definedDate = item.data.date %}
    {% set showTags = true %}
    {% include "partials/card-blog.njk" %}
{% endeach %}

