---
pagination:
  data: collections.allPostsByYearMonthDay
  size: 1
  alias: year
layout: page
permalink: /{{year[0]}}/
---

{% set thisYear = year[0] %}
{% set thisYearsPosts = year[1] %}

<h2>{{ thisYear }}</h2>

{% asyncEach item in thisYearsPosts %}
    {% set headingLevel = "h2" %}
    {% set definedDate = item.data.date %}
    {% set showTags = true %}
    <custom-card clickable class="mt-s-m">
      <{{ headingLevel }} slot="headline" class="text-step-2">
        <a href="/{{ item.data.permalink }}">{{ item.data.title }}</a>
      </{{ headingLevel }}>
      <span slot="date"><time datetime="{{ definedDate | toIsoString }}"> {{ definedDate | formatDate('MMMM D, YYYY') }} </time></span>
      {% if showTags and item.data.tags.length > 1 %}
        <div slot="tag" webc:nokeep>
          {% for tag in item.data.tags %}
            {% if tag != "posts" %}
              <span class="button" data-small-button>{{ tag }}</span>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <div slot="content" webc:nokeep>{{ item.data.description | markdownFormat | safe }}</div>
    </custom-card>
{% endeach %}

