---
layout: page
permalink: /diary/index.html
title: Cindy's Diary
gallery:
  - image: ./src/pages/diary/diary-cover.jpg
    alt: >-
      The cover of The Royal Horticultural Society Diary for 2005.
      A white A5 book with a red flower on the front.
    caption: The cover of Cindy's 2005 diary
  - image: ./src/pages/diary/diary-inside.jpg
    alt: >-
      A handwritten page from the diary. Seven tightly written
      rows of text in blue or black pen. The words are squeezed 
      into the space for each day.
    caption: A page from Cindy's diary
---

{% include "partials/gallery.njk" %}

{% asyncEach item in collections.allDiaryPosts %}
  {% set headingLevel = "h2" %}
  {% set definedDate = item.data.date %}
  {% set showTags = true %}
  <custom-card clickable class="mt-s-m">
    <{{ headingLevel }} slot="headline" class="text-step-2">
      <a href="{{ item.data.permalink }}">{{ item.data.title }}</a>
    </{{ headingLevel }}>
    <span slot="date"><time datetime="{{ definedDate | toIsoString }}"> {{ definedDate | formatDate('MMMM D, YYYY') }} </time></span>
    <div slot="type" webc:nokeep>
      <span class="button" data-small-button data-button-variant={{ "secondary" if item.data.type == "Blog" else ("tertiary" if item.data.type =="Diary" else "primary") }}>{{ item.data.type }}</span>
    </div>
    {% if showTags and item.data.tags.length > 1 %}
      <div slot="tag" webc:nokeep>
        {% for tag in item.data.tags %}
          {% if tag != "posts" %}
            <span class="button" data-small-button>{{ tag }}</span>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div slot="content" webc:nokeep>{{ item.data.description | markdownFormat | safe }}</div>
  </custom-card>
{% endeach %}
