---
layout: page
permalink: /cards/index.html
title: Cards
cardGallery:
  - images:
      - src: ./src/pages/cards/meeting/001.jpg
        alt: A squiggly red, blue and yellow picture
        caption: Katherine Angus
      - src: ./src/pages/cards/meeting/002.jpg
        alt: The text from the inside of the card
    text:  |-
        Edward, Toby, John
        and Rose

        with loving thoughts
        from
        Katherine Angus
  - images:
      - src: ./src/pages/cards/school/007.jpg
        alt: A yellow card with a tree in sunset
        caption: The Poskitts
      - src: ./src/pages/cards/school/008.jpg
        alt: The text from the inside of the card

    text:  |-
      To Edward, Toby, John + Rose

      Think of you at this difficult time

      Love Kjartan + Bridget

      + Maisie
      Florence
      Dulcie
      Miranda
  - images:
      - src: ./src/pages/cards/family/009.jpg
        alt: A yellow card with an orange flower
        caption: Anne and Peter
      - src: ./src/pages/cards/family/010.jpg
        alt: The text from the inside of the card

    text:  |-
      Dear Edward

      Sorry we can't come to Cindy's funeral on Sunday.

      Peter and myself will be thinking of you all.

      Love Anne
  - images:
      - src: ./src/pages/cards/friends/012.jpg
        alt: Clouds and a flower and the words "Remembering a Life Well-Lived. The world has lost a very special person."
        caption: Pip & Colin from Melbourne
      - src: ./src/pages/cards/friends/011.jpg
        alt: The text from the inside of the card
    text:  |-
      You and your family have our deepest sympathy, and we'll be thinking of you in the days to come...
      hoping time will ease your sorrow...
      hoping memories will bring you peace.

      To Edward, Toby, John, Rose and family.

      So sorry to hear the sad news. Our thoughts and prayers are with you all.

      Love Colin, Pip, Matthew & Emma Thompson
      & Joyce Cobb
  - images:
      - src: ./src/pages/cards/school/070.jpg
        alt: A plain card hand made from blue blue paper
        caption: Y5 Scarcroft
      - src: ./src/pages/cards/school/071.jpg
        alt: The text from the inside of the card
    text:  |-
      To:
      Toby, John and Rose
      And Dad,

      We are thinking about you and send our love...

      Y5 Scarcroft.....

      Ms Gornall and.....

      Max         Evie!
      Kayleigh    Dom
      Sarah       Kim
      Gemma       Billy
      Danielle    Nicole xxx
      Caralan     Liam
      Anna        Freddie x
      Hope        Jared
      Pierre      Jordan
      Grace       Lauren x
      William!!   David
      Katie x
  - images:
      - src: ./src/pages/cards/meeting/104.jpg
        alt: A woman in a blue swim suit sitting in a net, in a starry sky
        caption: Margaret and Alastair Cooper
      - src: ./src/pages/cards/meeting/105.jpg
        alt: The text from the inside of the card
    text:  |-
      Dear Edward, John, Rose and Toby
      I am very sorry that we are not able to join with you on Sunday in saying goodbye to Cindy and in helping to celebrate her life.
      We shall be thinking of you.
      With love
      Margaret and Alastair Cooper
  - images:
      - src: ./src/pages/cards/meeting/205.jpg
        alt: A delicate white fading to pale purple flower on a blue background
        caption: Robert, Peter, Alison + David
      - src: ./src/pages/cards/meeting/206.jpg
        alt: The text from the inside of the card
    text:  |-
      Dear Rose, John, Toby and Edward,
      We are very sorry about the death of your mum.
      You must be missing her a lot. She was a very special person.
      We are thinking of you with love + will do anything we can to help.
      Love from
      Robert, Peter, Alison + David
  - images:
      - src: ./src/pages/cards/friends/072.jpg
        alt: One of those picture changing holographic cards with flowers and butterflies
        caption: Chrissie + Jonathan
      - src: ./src/pages/cards/friends/073.jpg
        alt: The text from the inside of the card
    text:  |-
      Dear Rose, John, Toby & Edward,
      We are thinking about you especially this weekend. Cindy would be very proud of you all & she will always be with us all in our hearts.
      Please come and share a meal with us very soon.
      Lots of love Chrissie + Jonathan


---
{% include "partials/card-gallery.njk" %}