<custom-card clickable>
  <h2 slot="headline" class="text-step-2">
    <a href="{{ item.url | url }}">{{ item.data.title }}</a>
  </h2>
  <span slot="date"
    >{% set definedDate = item.data.date %}
    <time datetime="{{ definedDate | toIsoString }}">
      {{ definedDate | formatDate('MMMM D, YYYY') }}
    </time></span
  >
  <p slot="content">{{ item.data.description }}</p>
</custom-card>
